/* General Page Layout */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eaf4e9; /* Light green background */
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ddd;
}

.second-navbar{
    font-size: 1rem;
    background-color: #80ab94;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 550;
    height: 60px;
}

.sidebar {
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 30px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover{
    background-color: #4E635E;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
    font-family: 'Cursive', 'Brush Script Mt', sans-serif;
    font-size: large;
}

.menu-button{
    display: none;
}

@media(max-width:900px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width:400px){
    .sidebar{
        width: 100%;
    }
}

